<div class="col-sm-3 no-gutters">
    <h2 class="category_txt">ジャンル検索</h2>
        <ul class="center">
            <% categories.each do |category| %>
                <% if category.active_status == true %>
                <li><%=link_to movies_path(:category_id => category.id)  do %>
                    <%= category.name %>
                </li>
                <% end %>
                <% end %>
            <% end %>
        </ul>
</div>