<div class="row">
	<div class='col-xs-8 col-xs-offset-2'>
    	<h1>ようこそ
         	<i class="fa fa-film" aria-hidden="true"></i><strong>movie_reviewへ</strong>!
        </h1>
      		<div class="ruikatu1">当サイトは映画を通して、感動を共有して泣いてもらおうというサイトです。当サイトは涙活を推奨しています。</div><br>
      			<h3>そもそも涙活って何？</h3>
    				<div class="ruikatu1">涙活とは意識的に泣くことでストレス解消を図る活動のことです。涙を流すことにより、人間の自律神経は緊張や興奮を促す交感神経が優位な状態から、リラックスや安静を促す副交感神経が優位な状態に切り替わります。涙活は、この仕組みを利用したストレス解消法とされています。</div>

    			<h3>涙活のメリット</h3>
    				<div class="ruikatu1">・涙を流すと、良質な睡眠と同じくらいのリラックス効果が得られる！<br>
    				・ポジティブな気分にさせてくれる！</div>
				<h3>涙活する上でのポイント</h3>
					<div class="ruikatu1">大切なのは、心を動かされたときに流すポジティブな「涙」。<br>
					一番効果があるのが、他人の経験に共感して泣くことと言われています。物語の主人公と自分を重ね合わせてたくさん涙活しましょう！
      				</div>
      			<h3>最後に</h3>
					<div class="ruikatu1">涙を流すことは一番手軽なデトックスです。<br>
					適度にストレス発散して自分の感情をコントロールしましょう！
      				</div>
    </div>
</div>