<div class="container">
<div class="row">
  <%= render "home/sidebar", categories: Category.all %>
        <div class="col-sm-8 no-gutters">
        <div class="main_visual">
          <div class="main_txt white_txt">
            <p class="txtxs sub_txt">あなたが泣ける映画を教えてください。<br>みんなで共有してみんなで泣こう！</p>
        </div>
      </div>
      <div class="movie_index">
           <h2 class="midashi_txt brown_txt bold">おすすめ映画</h2>
    </div>
  </div>
</div>
</div>


