<footer class="beige_bg">
  <div class="container">
  	<div class="row">
    <p>Copyright © 2020 movie_review. All rights reserved.</p>
  </div>
  <nav class="collapse navbar-collapse" id="navbarList">
  	<ul class="nav navbar-nav navbar-right">
  	<% if user_signed_in? && current_user.admin %>
  		<li><%= link_to '管理者の方はこちら',rails_admin_path(current_user), class: "nav_txt" %></li>
	<% end %>
</ul>
</nav>
 </div>
</footer>

